.matchContainer {
  display: flex;
  justify-content: space-between;
  padding: 0.7rem 0;
}

.matchParticipants {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.matchScore {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
